
html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content-wrapper {
    display: flex; 
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto; 
}


.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #e0e0e8; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh; 
    position: sticky; 
    top: 0;
}


#add-book-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
#add-book-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 4px;
}
#add-book-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
#add-book-form button:hover {
    background-color: #0056b3;
}


.main-content {
    flex-grow: 1; 
    padding: 20px;
}


#container-id {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}